:root {
  /* COLORS */
  /* Standard */
  --red: #ff474f;
  --green: #05a8aa;
  --black: #323432;
  --white: #fdfffc;
  --purple: #765bdd;

  /* FONT SIZE */
  /* 50px */
  --fs-big-title: 3.125rem;
  /* 40px */
  --fs-title: 2.5rem;
  /* 30px */
  --fs-subtitle: 1.875rem;
  /* 20px */
  --fs-paragraph: 1.25rem;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* DIMENSTION */
  --big-horizontal-space: 5vw;
  --small-horizontal-space: 2.5vw;
  --vertical-extra-large-space: 8rem;
  --vertical-large-space: 4rem;
  --vertical-medium-space: 3rem;
  --vertical-normal-space: 2rem;
  --vertical-small-space: 1rem;
  --vertical-button-padding: 0.5rem;
  --horizontal-button-padding: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* Light Mode */
  --body-bg: #e8e8f7;
  --container-bg: rgb(253, 255, 252, 0.5);
  --container-border: rgb(253, 255, 252, 0.8);
  --header-bg: #f3f4f9;
  --icon-bg: #ff474f;
  --box-shadow: rgb(50, 52, 50, 0.25);
  --text: #323432;
  --side-text: rgb(50, 52, 50, 0.5);
  --highlight-text: #ff474f;
  --underline-text: #ff474f;
  --selection-text: rgb(255, 71, 79, 0.25);
  --scroll-bar-background: #e8e8f7;
  --scroll-bar-thumb: rgb(50, 52, 50, 0.25);
  --scroll-bar-thumb-hover: rgb(50, 52, 50, 0.5);
  --horizontal-scroll-bar-thumb: #e8e8f7;

  background-color: var(--body-bg);
}

body.dark {
  /* Dark Mode */
  --body-bg: #1a0e43;
  --container-bg: rgb(253, 255, 252, 0.15);
  --container-border: #261a4d;
  --header-bg: #3c325f;
  --icon-bg: #765bdd;
  --box-shadow: rgb(253, 255, 252, 0.1);
  --text: rgb(253, 255, 252, 0.9);
  --side-text: #8c8cba;
  --highlight-text: #977bff;
  --underline-text: rgb(253, 255, 252, 0.9);
  --selection-text: rgb(5, 168, 170, 0.25);
  --scroll-bar-background: #1a0e43;
  --scroll-bar-thumb: rgb(253, 255, 252, 0.15);
  --scroll-bar-thumb-hover: #261a4d;
  --horizontal-scroll-bar-thumb: #1a0e43;
}

body.inactive {
  padding-right: 1rem;
  overflow-y: hidden;
}
/* GENERAL */
article {
  padding: 0 var(--big-horizontal-space);
  text-align: center;
}
.consolas-font {
  font-family: "Consolas", monospace;
}
h1::selection,
h2::selection,
h3::selection,
li::selection,
p::selection,
a::selection,
img::selection,
button::selection {
  background-color: var(--selection-text);
}
/* Scroll bar styled only for larger screens */
/* Not supported on Firefox */
@media (min-width: 801px) {
  ::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--scroll-bar-background);
  }
  ::-webkit-scrollbar-track {
    margin: var(--vertical-medium-space) 0;
    background-color: var(--scroll-bar-background);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: var(--scroll-bar-thumb);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-bar-thumb-hover);
  }
}

/* CONTAINER */
.container {
  position: relative;

  margin: var(--vertical-medium-space) var(--big-horizontal-space);
  padding-bottom: var(--big-horizontal-space);
  border: 0.5rem solid var(--container-border);
  border-radius: 3rem;

  background-color: var(--container-bg);
}
.container > article {
  padding-bottom: var(--vertical-extra-large-space);
}
.container article:last-child {
  padding-bottom: 0;
}

/* HEADER */
header {
  position: sticky;
  z-index: 1;
  top: 0;

  padding: var(--vertical-medium-space) var(--big-horizontal-space);
  border-radius: 3rem 3rem 0rem 0rem;

  background-color: var(--header-bg);
  text-align: center;
}
header #hamburger-menu {
  display: none;
}
nav.desktop-nav {
  display: flex;
  justify-content: center;
  gap: var(--big-horizontal-space);
}
.phone-nav-container {
  display: none;
}
.nav-link {
  position: relative;

  font-size: var(--fs-paragraph);
  font-weight: var(--fw-medium);

  color: var(--text);
  text-decoration: none;

  transition: color 200ms;
}
.nav-link:hover {
  color: var(--side-text);
}
.nav-link.active:hover {
  color: var(--text);
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  right: 50%;
  border-radius: 1rem;

  height: 0.25rem;

  background-color: var(--underline-text);
  transition: left 200ms, right 200ms;
}
.nav-link.active::before {
  left: 25%;
  right: 25%;
}
label.theme-switcher {
  position: absolute;
  top: calc(3rem - 12px);
  right: var(--big-horizontal-space);
  border-radius: 2rem;

  height: 54px;
  width: 54px;

  background-color: var(--icon-bg);

  display: grid;
  place-content: center;

  cursor: pointer;
  transition: transform 200ms;
}
label.theme-switcher:hover {
  transform: scale(1.2);
}
img#sun {
  display: block;
}
img#sun.dark {
  display: none;
}
img#moon {
  display: none;
}
img#moon.dark {
  display: block;
}
input[type="checkbox"]#theme-checkbox {
  display: none;
}

/* HOME SECTION */
article.home .headings {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-small-space);
}
article.home .headings h1 {
  font-size: var(--fs-big-title);
  font-weight: var(--fw-bold);
  color: var(--text);
}
article.home .headings h2 {
  font-size: var(--fs-title);
  font-weight: var(--fw-regular);
  color: var(--highlight-text);
}
article.home .hiro-illustration {
  margin: var(--vertical-medium-space) 0;
  border-radius: 10rem;
  box-shadow: 0rem 0rem 3rem 1rem var(--box-shadow);
}
article.home p {
  margin-bottom: var(--vertical-medium-space);
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  color: var(--text);
}
article.home ul.contact-options {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: var(--big-horizontal-space);
}
article.home ul.contact-options li.contact-option a {
  display: block;
  padding: 0.75rem;
  border-radius: 2rem;
  height: 30px;
  background-color: var(--icon-bg);
  transition: transform 200ms;
}
article.home ul.contact-options li.contact-option a:hover {
  transform: scale(1.2);
}

/* ABOUT ME SECTION */
article.about section .icon-container {
  margin-bottom: var(--vertical-normal-space);
  margin-inline: auto;
  border-radius: 5rem;

  width: 82px;
  height: 82px;

  display: grid;
  place-content: center;
}
article.about section.summary .icon-container {
  background-color: var(--green);
}
article.about section.education .icon-container {
  margin-top: var(--vertical-normal-space);
  background-color: var(--purple);
}
article.about h2 {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-medium);
  color: var(--text);
}
article.about section .paragraphs {
  padding: var(--vertical-normal-space) 0;
  display: flex;
  flex-direction: column;
  gap: var(--vertical-small-space);
}
article.about section.education .paragraphs {
  padding-bottom: 0;
}
article.about section .paragraphs .summary {
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  color: var(--text);
}
article.about section .paragraphs .institution {
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-medium);
  color: var(--text);
}
article.about section .paragraphs .date {
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  color: var(--side-text);
}

/* SKILLS SECTION */
article.skills .grid {
  display: grid;
  grid-template-columns: 1fr 0.5rem 1fr;
  column-gap: var(--big-horizontal-space);
}
article.skills .design-line {
  margin-top: var(--vertical-normal-space);
  margin-bottom: var(--vertical-normal-space);
  border-radius: 2rem;
  background-color: var(--body-bg);
}
article.skills section .icon-container {
  margin-bottom: var(--vertical-normal-space);
  margin-inline: auto;
  border-radius: 5rem;

  width: 82px;
  height: 82px;

  display: grid;
  place-content: center;
}
article.skills section.front-end .icon-container {
  background-color: var(--green);
}
article.skills section.back-end .icon-container {
  background-color: var(--purple);
}
article.skills section.others .icon-container {
  margin-top: var(--vertical-normal-space);
  background-color: var(--red);
}
article.skills h2 {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-medium);
  color: var(--text);
}
article.skills ul {
  list-style: none;
  padding: var(--vertical-normal-space) 0;
}
article.skills section.others ul {
  padding-bottom: 0;
}
article.skills ul li {
  padding-bottom: var(--vertical-small-space);
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  color: var(--text);
}
article.skills ul li:last-child {
  padding: 0;
}

/* PROJECTS SECTION */
article.projects .icon-container {
  margin-bottom: var(--vertical-normal-space);
  margin-inline: auto;
  border-radius: 5rem;

  width: 82px;
  height: 82px;

  background-color: var(--green);

  display: grid;
  place-content: center;
}
article.projects h2 {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-medium);
  color: var(--text);
}
article.projects .filters-row {
  margin: var(--vertical-normal-space) 0;
  display: flex;
  justify-content: center;
  gap: var(--big-horizontal-space);
}
article.projects .filters-row button.filter {
  padding: var(--vertical-button-padding) var(--horizontal-button-padding);
  border-radius: 5rem;

  font-size: var(--fs-paragraph);
  font-weight: var(--fw-medium);
  text-wrap: nowrap;

  color: var(--text);
  background: none;

  cursor: pointer;
  transition: background 200ms, color 200ms;
}
article.projects .filters-row button.filter:hover {
  color: var(--side-text);
}
article.projects .filters-row button.filter.active {
  color: var(--white);
  background: var(--purple);
}
article.projects .filters-row button.filter.active:hover {
  color: var(--white);
  background: var(--purple);
}
article.projects .grid {
  padding-top: var(--vertical-normal-space);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 329px);
  column-gap: var(--big-horizontal-space);
  row-gap: var(--vertical-large-space);
}
article.projects .grid .project {
  text-decoration: none;
  opacity: 1;

  display: flex;
  flex-direction: column;
  gap: var(--vertical-small-space);

  cursor: pointer;
  transition: transform 200ms, opacity 200ms;
}
article.projects .grid .project:hover {
  transform: scale(1.05);
}
article.projects .grid .project.hidden {
  cursor: default;
  opacity: 0.25;
}
article.projects .grid .project.hidden:hover {
  transform: scale(1);
}
article.projects .grid .project .logo-container {
  flex-basis: 100%;
  position: relative;

  border: 10px solid var(--container-border);
  border-radius: 2rem;

  background-color: var(--body-bg);

  display: grid;
  place-content: center;

  overflow: hidden;
}
article.projects .grid .project h3 {
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  color: var(--text);
}

/* MODAL */
.modal-container {
  position: fixed;
  overflow-y: auto;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--body-bg);

  transform: translateY(100%);
  transition: transform 400ms;
}
.modal-container.active {
  transform: translateY(0);
}
.modal-container .modal {
  position: relative;

  margin: var(--vertical-medium-space) var(--big-horizontal-space);
  padding: var(--vertical-medium-space) var(--big-horizontal-space);
  border: 0.5rem solid var(--container-border);
  border-radius: 3rem;

  background-color: var(--container-bg);

  text-align: center;
}
.modal-container .modal .close-button-container {
  position: absolute;
  top: -20px;
  right: -20px;

  margin-inline: auto;
  border-radius: 2rem;

  height: 54px;
  width: 54px;

  background-color: var(--icon-bg);

  display: grid;
  place-content: center;

  cursor: pointer;
  transition: transform 200ms;
}
.modal-container .modal .close-button-container:hover {
  transform: scale(1.2);
}
.modal-container .modal .logo-container {
  height: 150px;
  vertical-align: center;
}
.modal-container .modal h3 {
  margin-top: var(--vertical-large-space);
  margin-bottom: var(--vertical-normal-space);
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-medium);
  color: var(--text);
}
.modal-container .modal h3:first-of-type {
  margin-top: var(--vertical-medium-space);
}
.modal-container .modal .description {
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  color: var(--text);
}
.modal-container .modal ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--small-horizontal-space);
}
.modal-container .modal ul li {
  padding: var(--vertical-button-padding) var(--horizontal-button-padding);
  border-radius: 5rem;

  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  text-wrap: nowrap;

  color: var(--text);
  background-color: var(--body-bg);
}
.modal-container .modal .date {
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-regular);
  color: var(--side-text);
}
.modal-container .modal .project-links {
  display: flex;
  justify-content: center;
  gap: var(--small-horizontal-space);
}
.modal-container .modal .project-links a {
  padding: var(--vertical-button-padding) var(--horizontal-button-padding);
  border-radius: 5rem;

  text-decoration: none;
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-medium);
  color: var(--white);

  display: flex;
  align-items: center;
  gap: 0.75vw;

  cursor: pointer;
  transition: transform 200ms;
}
.modal-container .modal .project-links a:hover {
  transform: scale(1.125);
}
.modal-container .modal .project-links a.demo {
  background: linear-gradient(to right, var(--red), var(--purple));
}
.modal-container .modal .project-links a.github {
  background: linear-gradient(to right, var(--purple), var(--green));
}

/* RESPONSIVE */
/* Laptop */
@media (max-width: 1200px) {
  :root {
    /* FONT SIZE */
    /*** decrease a quarter ***/
    /* 40px (-10px) */
    --fs-big-title: 2.5rem;
    /* 32px (-8px) */
    --fs-title: 2rem;
    /* 24px (-6px) */
    --fs-subtitle: 1.5rem;
    /* 16px (-4px) */
    --fs-paragraph: 1rem;

    /* DIMENSTION */
    /*** decrease a quarter ***/
    --vertical-extra-large-space: 6rem;
    --vertical-large-space: 3rem;
    --vertical-medium-space: 2.25rem;
    --vertical-normal-space: 1.5rem;
    --vertical-small-space: 0.75rem;
  }
  label.theme-switcher {
    top: calc(2.25rem - 10px);

    height: 45px;
    width: 45px;
  }
  label.theme-switcher img#sun {
    height: 29px;
    width: 29px;
  }
  label.theme-switcher img#moon {
    height: 26px;
    width: 26px;
  }
  article.home .hiro-illustration {
    height: 235px;
    width: 235px;
  }
  article.home ul.contact-options li.contact-option a {
    height: 21px;
  }
  article.home ul.contact-options li.contact-option a img {
    height: 21px;
    width: 21px;
  }
  article.about section .icon-container {
    width: 62px;
    height: 62px;
  }
  article.about section .icon-container img {
    width: 38px;
    height: 38px;
  }
  article.skills section .icon-container {
    width: 62px;
    height: 62px;
  }
  article.skills section .icon-container img {
    width: 38px;
    height: 38px;
  }
  article.projects .icon-container {
    width: 62px;
    height: 62px;
  }
  article.projects .icon-container img {
    width: 38px;
    height: 38px;
  }
  article.projects .grid {
    grid-template-rows: repeat(2, 247px);
  }
  article.projects .grid .project .logo-container img {
    height: 112px;
    width: 112px;
  }
  .modal-container .modal .logo-container {
    height: 112px;
  }
  .modal-container .modal .logo-container img {
    height: 112px;
    width: 112px;
  }
  .modal-container .modal .close-button-container {
    height: 45px;
    width: 45px;
  }
  .modal-container .modal .close-button-container img {
    height: 21px;
    width: 21px;
  }
}
@media (max-width: 1024px) {
  article.projects .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 247px);
  }
}
/* Tablet */
@media (max-width: 800px) {
  body.inactive {
    padding-right: 0;
  }
  .container {
    margin: 0 var(--big-horizontal-space);
    border: 0;
    border-left: 10px solid var(--container-border);
    border-right: 10px solid var(--container-border);
    border-radius: 0rem;
  }
  header {
    border-radius: 0rem;
    display: flex;
    justify-content: center;
  }
  header #hamburger-menu {
    border-radius: 2rem;

    height: 62px;
    width: 62px;

    background-color: var(--icon-bg);

    display: grid;
    place-content: center;

    cursor: pointer;
    transition: transform 200ms;
  }
  header #hamburger-menu:hover {
    transform: scale(1.2);
  }
  header #hamburger-menu img {
    height: 38px;
    width: 38px;
  }
  header nav.desktop-nav {
    display: none;
  }
  .phone-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    min-height: 100vh;
    width: 100vw;

    background-color: var(--body-bg);

    display: grid;

    transform: translateY(-100%);
    transition: transform 400ms;
  }
  .phone-nav-container.active {
    transform: translateY(0);
  }
  .phone-nav-container nav.phone-nav {
    margin: 0 var(--big-horizontal-space);
    padding: var(--vertical-medium-space) var(--big-horizontal-space);
    border-left: 10px solid var(--container-border);
    border-right: 10px solid var(--container-border);
    border-radius: 0rem;

    background-color: var(--container-bg);

    display: flex;
    flex-direction: column;
  }
  .phone-nav-container nav.phone-nav .phone-nav-links-container {
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .phone-nav-container nav.phone-nav #close-menu-button {
    align-self: center;
    border-radius: 2rem;

    min-height: 62px;
    width: 62px;

    background-color: var(--icon-bg);

    display: grid;
    place-content: center;

    cursor: pointer;
    transition: transform 200ms;
  }
  .phone-nav-container nav.phone-nav #close-menu-button:hover {
    transform: scale(1.2);
  }
  .phone-nav-container nav.phone-nav #close-menu-button img {
    height: 38px;
    width: 38px;
  }
  .phone-nav-container nav.phone-nav .phone-nav-link {
    display: block;

    text-decoration: none;
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-medium);
    color: var(--text);

    transition: color 200ms;
  }
  .phone-nav-container nav.phone-nav .phone-nav-link:hover {
    color: var(--side-text);
  }
  label.theme-switcher {
    top: calc(2.25rem + 9px);
    right: var(--big-horizontal-space);
  }
  article.home ul.contact-options {
    justify-content: space-evenly;
    gap: 0;
  }
  article.projects .filters-row {
    overflow-x: scroll;
    padding-bottom: var(--vertical-normal-space);
    justify-content: space-between;
  }
  article.projects .filters-row::-webkit-scrollbar {
    border-radius: 2rem;
    height: var(--vertical-small-space);
    background: transparent;
  }
  article.projects .filters-row::-webkit-scrollbar-track {
    border-radius: 2rem;
    margin: var(--vertical-medium-space) 0;
    background: transparent;
  }
  article.projects .filters-row::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: var(--horizontal-scroll-bar-thumb);
  }
  .modal-container .modal {
    margin: 0 var(--big-horizontal-space);
    border: 0;
    border-left: 10px solid var(--container-border);
    border-right: 10px solid var(--container-border);
    border-radius: 0rem;
  }
  .modal-container .modal .close-button-container {
    position: relative;
    top: 0;
    right: 0;

    margin-bottom: var(--vertical-medium-space);

    height: 62px;
    width: 62px;
  }
  .modal-container .modal .close-button-container img {
    height: 38px;
    width: 38px;
  }
}
/* Phone */
@media (max-width: 650px) {
  article.skills .grid {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  article.projects .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 247px);
  }
}
@media (max-width: 350px) {
  article.home .hiro-illustration {
    height: 157px;
    width: 157px;
  }
  .modal-container .modal .project-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--vertical-small-space);
  }
}
